<div class="card">
    <div class="card-header">Edit Post</div>
    <div class="card-body">
        <form id="editForm">
            <div class="form-group">
                <label for="editTitle">Title</label>
                <input type="text" class="form-control" id="editTitle" name="editTitle">
            </div>
            <div class="form-group">
                <label for="editAuthor">Author</label>
                <input type="text" class="form-control" id="editAuthor" name="editAuthor">
            </div>
            <div class="form-group">
                <label for="editBody">Body</label>
                <textarea class="form-control" id="editBody" name="editBody"></textarea>
            </div>
            <input type="hidden" id="editId" name="editId">
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>